.background {
    background-color: #F0A5CD;
}

/* Color de los iconos */
.icono {
    color: #FFEBD2;
}

/* Color de los botones */
.boton {
    color: #FFEBD2;
}

/* Color de fondo del buscador */
.buscador {
    color: #FFEBD2;
}

/* Color de fondo de la ventana emergente */
.ventana_emergente {
    background-color: #FFC3C3;
}

h3 {
    text-align: center;
}

.info {
    text-align: center;
}

/*Iconos del navegador con tamaños seteados*/
.nav-bar-icons {
    font-size: 30px;
}
.footer-icons{
    font-size: 30px; 
}

#logo {
    width: 120px;
    height: auto;
}

.profile_img {
    width: 150px;
    height: auto;
}

.recetas-des {
    width: 300px;
    height: auto;
}

/*Envianos una receta*/
.contact-form{
    background:  #F0A5CD;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border: black;
    border-style: solid;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    width: 11%;
    margin-top: -3%;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: white;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}